botToken = "InsertYourBotTokenHere" # bot token from BotFather
channelId = "InsertYourChannelIdHere" # channel ID to send images to
ownerId = "InsertYourUserIdHere" # bot owner ID
animalType = "cat"  # "cat" or "dog"
maxRetries = 9999 # max num of retries if bot crashes
cronSchedule = "0 0 * * *" # cron schedule for sending images (default: every day at midnight)

# API URLs for dog and cat images
dogApi = "https://dog.ceo/api/breeds/image/random"
duckApi = "https://random-d.uk/api/v2/random"
catApi = "https://cataas.com/cat?json=true"
foxApi = "https://randomfox.ca/floof/"